<%= render partial: 'layouts/errors', locals: { obj: @type} %>

<h1>Add a new Type of Storage!</h1>
<br>
<%= form_for @type do |f| %>
    <%= f.label :name, "Type of storage:" %>
    <%= f.text_field :name %>
    <br>
    <%= f.submit %>
<% end %>