<h1> ADD ERROR MESSAGE HERE </h1>

<h2>Update your supply quantity here</h2>

<%= form_for @purchase do |f| %>
   <%= display_type_fields(f) %>
    <%= f.label :name, "Name of supply:" %>
    <%= f.text_field :name %>
    <br>
    <%= f.submit %>
<% end %>