<h2>Update your supply quantity here</h2>
<%= form_for(@purchase) do |f| %>
    <%= f.label :quantity, "Quantity: " %>
    <%= f.number_field :quantity %>
    <%= f.hidden_field :item_id, value: params[:item_id] %>
    <br>
    <%= f.submit "Update quantity" %>

<% end %>