<% if @item.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@item.errors.count, "error") %> prohibited this article from being saved:</h2>

    <ul>
      <% @item.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @item do |f| %>
   <%= display_type_fields(f) %>
    <%= f.label :name, "Name of item:" %>
    <%= f.text_field :name %>
    <br>
    <%= f.label :quantity, "Quantity:" %>
    <%= f.number_field :quantity %>
    <br>
    <%= f.submit %>
<% end %>
