<% if @type  %>
    Here are your <%= @type.name %> supplies:
    <br>
    <ul>
        <% @items.each do |item| %> 
            <li><%= item.name %> - Amount: <%= purchase_quantity_index(item) %></li>
        <% end %>
    </ul>
<% else %>
<ul>
    <% @items.each do |item| %>
            <li><%= link_to "delete", item, :method => :delete %> | <%= link_to "edit", edit_item_path(item) %> | Amount of <%= link_to item.name, item_path(item) %>:  <%= purchase_quantity_index(item) %></li>
    <% end %>
</ul>
<% end %>
