<% if @type  %>
    Here are your <%= @type.name %> supplies:
    <br>
    <ul>
        <% @items.each do |item| %> 
            <li><%= item.name %> - Amount: <%= purchase_quantity_index(item) %></li>
        <% end %>
    </ul>
<% else %>
<ul>
    <% @items.each do |item| %>
            <li><%= link_to "delete", item, :method => :delete %> Amount of <%= purchase_item_name(item) %>:  <%= link_to item.quantity, item_path(item.item_id) %></li>
    <% end %>
</ul>
<% end %>
