<br>
<h2>Here are all of your supplies!</h2>
<br>
<% if @type  %>
    Here are your <%= @type.name %> supplies:
    <br>
    <ul>
        <% @items.each do |item| %> 
            <li><%= item.name %></li>
        <% end %>
    </ul>
<% else %>
<dl>
    <% current_user.types.uniq.each do |type| %>
        <dt><%= type.name %></dt>
        <% type.items.collect do |item| %>
            <dd><%= link_to "delete", item, :method => :delete %>  <%= link_to "edit", edit_item_path(item) %> Amount of <%= link_to item.name, item_path(item) %></dd>
        <% end %>
    <% end %>
</dl>
<% end %>
<br>
<%= add_item_link %>
<br><br><br>
new stuff below here
<br><br>
<%= index_display %>