<h2>Let's add a new item!</h2>
<br><br>
<%= form_for @item do |f| %>
        <%= f.hidden_field :user_id %>
        <%= f.label :name %>
        <%= f.text_field :name %>
        <br>
        <%= f.label :quantity %>
        <%= f.number_field :quantity %>
        <br>
        <%= f.submit %>
    <% end %>