<!DOCTYPE html>
<html>
  <head>
    <title>EmergencyPrepInventory</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <br>
    <div>
      <% if logged_in? %>
        <%= link_to "View My Supplies", items_path %> | 
        <%= link_to "Add a New Item", new_item_path %> | 
        <%= link_to "Add a New Storage Type", new_type_path %> | 
        <%= link_to "All Types", types_path %> | 
        <%= link_to "Add Supplies From the Database", new_purchase_path %> | 
        <%= link_to "Logout", logout_path, method: "delete" %>
      <% end %>
    </div>

    <div>
    <%= flash[:message] if flash[:message] %>
    </div>

    
    <%= yield %>
  </body>
</html>
